{
  "presets": [
    [
      "@babel/preset-react",
      {
        "targets": {
          "chrome": "42",
          "edge": "14",
          "safari": "11"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-async-to-generator"]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": 8
            }
          }
        ]
      ]
    }
  }
}
